{
    "version" : "2017-02-28",
    "operation" : "Query",
    "index" : "user-index",
    "query" : {
      "expression": "userId = :userId",
        "expressionValues" : {
          ":userId" : $util.dynamodb.toDynamoDBJson($ctx.arguments.userId)
        }
    }
    #if( ${ctx.arguments.count} )
        ,"limit": $util.toJson($ctx.arguments.count)
    #end
    #if( ${ctx.arguments.nextToken} )
        ,"nextToken": "${ctx.arguments.nextToken}"
    #end
}